body {
  background-color: #FFFFFF;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	margin-right: 2px;
	background-color: teal;
}

.node {
	fill: #ccc;
	stroke: #fff;
	stroke-width: 3px;
}

.link {
	fill: none;
	stroke: #777;
	stroke-width: 2px;
}

.text {
	font: sans-serif;
}

d3-tip {
	line-height: 1;
	color: black;
}